body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
}

* {
      box-sizing: border-box;
}

img {
      max-width:100%;
      height:auto;
}

.container {
      width: 95%;
      margin: 0 auto;
}


html {
      // 1 rem
      font-size: 100%; //1rem = 16px

      // width<1200
      @include respond(tab-land) {
            font-size:56.25%;
      }

      //width<50
      @include respond(tab-port) {
            font-size:50%;
      }

      @include respond(big-desktop) {
            font-size:100%;
      }
      
}