@import "../abstracts/variables";

//heading-primary => Roboto 
.heading-primary {
      color:$color-black;
      font-family:$primary-font;

      &--logo {
            font-size: $font-size-medium;  
            letter-spacing:1.5px;
            font-weight: bold;
            text-transform: uppercase;

            &:after {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 25px 0 0 25px;
                  border-color: transparent transparent transparent #fde4b6;
                  margin-left:5px;
                  content: "";
                  display: inline-block;
            }
      }

      &--title {
            letter-spacing: 9px;
            font-weight:800;
            font-size:$font-size-large;
      }

      &--pricetag {
            font-size:$font-size-small;
            font-weight: 600;
            letter-spacing: 1px;
      }

      &--spaced-title{
            font-size: $font-size-medium;
            letter-spacing: 2.5px;
            line-height: 46px;
            text-transform: uppercase;
            font-weight:bold;
      }

      &--watchtitle {
            font-size: $font-size-medium;
            text-transform: uppercase;
            letter-spacing:5px;
      }
}

h3 span {
      color:$color-grey;
      text-decoration: line-through;
      padding-left: 5px;
      font-weight: normal;
}

//heading-primary => Open Sans 
.heading-secondary {
      font-family: $secondary-font; 
      color:$color-dark-grey;

      &--subtitle {
            font-size: $font-size-extra-small;
            font-weight: normal;  
      }

      &--label {
            font-size: $font-size-small; 
            text-transform: uppercase;
            color: $color-black;
            padding-top: 15px;
            letter-spacing: 2px;
            position:relative;
            display:inline-block;

            @include respond(tab-port){
                   margin-top:5rem;
            }

            &:after {
                  content:'';
                  position:absolute;
                  left:0;right:0;
                  bottom:60%;
                  margin: 10px auto;
                  width:60%;
                  height:1px;
                  background:$color-dark-grey;
              }
      }
}

.paragraph{
      font-family: $secondary-font;
      color:$color-dark-grey;
      
      &--regular {
            font-size:$font-size-small;
      }
      
      &--small {
            font-size:$font-size-super-small;
      }
}