@import "../abstracts/variables";


//primary font is roboto black
//h1 title
.heading-primary {
      color:$color-black;
      font-family:$primary-font;

      &--logo {
            font-size: 2.25rem; //36px 
            letter-spacing:1.5px;
            font-weight: bold;
            text-transform: uppercase;

            &:after {
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 25px 0 0 25px;
                  border-color: transparent transparent transparent #fde4b6;
                  margin-left:5px;
                  content: "";
                  display: inline-block;
            }
      }

      &--title {
            letter-spacing: 9px;
            text-align: center;
            font-weight:800;
            font-size: 72px;
      }

      &--pricetag {
            font-size: 16px;
            font-weight: 600;
      }

}

.heading-secondary {
      font-family: $secondary-font; //Open Sans Regular
      color:$color-dark-grey;

      &--subtitle {
            font-size: 12px;
            font-weight: normal;  
      }

      &--label {
            font-size: 16px; 
            text-transform: uppercase;
            color: $color-black;
            padding-top: 15px;
            letter-spacing: 2px;
            position:relative;
            display:inline-block;

            &:after {
                  content:'';
                  position:absolute;
                  left:0;right:0;
                  bottom:60%;
                  margin: 10px auto;
                  width:60%;
                  height:1px;
                  background:$color-dark-grey;
              }
      }
}

h3 span {
      color:$color-grey;
      text-decoration: line-through;
      padding-left: 5px;
      font-weight: normal;
}




h2 {
      font-family: 'Roboto', sans-serif;
}

h2.spaced-title{
      font-size: 36px;
      color:$color-black;
      letter-spacing: 2.5px;
      text-align: center;
      line-height: 46px;
      text-transform: uppercase;
      font-weight:bold;
}

h2.watchtitle {
      font-size: 36px;
      text-transform: uppercase;
      color: $color-black; 
      letter-spacing: 4.5px;
}

h4 {     
      font-family: 'Open Sans', sans-serif;       
}


  .hero-section-title {
      position: absolute;
      top:15%;
      left:50%;
      transform: translate(-50%, -50%);
}
