.u-center-text { text-align: center; }

.vertical-center {
      display: flex;
      align-items: center;
      justify-content:space-around;
}

.border-fix {
      border-top: 1px solid $color-border-grey;
}

// Margins
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem;}
.u-margin-top-big { margin-top: 8rem;}
.u-margin-top-huge { margin-top: 10rem;}
