
// main Colors
$color-primary:#ffffff;
$color-secondary:#FDE4B6;

//Black shades
$color-pure-black:#000000;
$color-black:#2C2E2F;

//Grey Shades
$color-sale-box-white:#f5f5f5;
$color-border-grey:#F0F0F0;
$color-grey:#b1adad;

// From color pallete
$color-dark-grey:#979797;



//color
$tabs-title-grey:#515254;
$tabs-border-grey:#7e7e7e;
$tabs-slate-grey:#2f4f4f;
$button-grey:#757575;

//Fonts
$primary-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif; 
