@import "normalize.css";

body {
      margin: 0;
      font-family: 'Raleway', sans-serif;
}

* {
      box-sizing: border-box;
}

img {
      max-width:100%;
      height:auto;
}

.container {
      width: 95%;
      margin: 0 auto;
}

.flex-container{
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
}

.flex-container .column{
      background: #ffffff;
      flex: 1;    
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
  }

.flex-container .column.bg-alt{
      background:#FCE4B6;
}

.flex-container .column.bg-alt1{
      background:#FCE4B6;
      height: 600px;
}

.slider-box {
      
      position:absolute;
}

#carouselExampleIndicators {
      position: absolute;
      left: 30vw;
      top:7rem;
      width:400px;
}

.vertical-center {
      display: flex;
      align-items: center;
      justify-content:space-around;
}

/* Typography */
h1 {
      font-family:Helvetica, sans-serif;
      color: #2C2E2F;
}

h1.title {
      letter-spacing: 9px;
      text-align: center;
      font-weight:800;
      font-size: 72px;
}

h3 {
      font-family:Helvetica, sans-serif;
      color: #2C2E2F;
}

h3 span {
      color:#b1adad;
      text-decoration: line-through;
      padding-left: 5px;
      font-weight: normal;
}

h3.subtitle {
      font-size: 16px;
      font-weight: normal; 
}

h3.pricetag {
      font-size: 18px;
      font-weight: 600;
      
}

/* Header */
header {
      position: absolute;
      left: 0;
      right: 0;
}

/* Home-hero */
.home-hero {
      border-bottom:1px solid #F0F0F0;
}

.hero-watch {
      height:85%;
      margin-left: -10%;
}

.watch-description {
     text-align: center;
}

.posts {
      border-top:1px solid #F0F0F0;
      margin-bottom: 5rem;
}

/* Html for button */ 
.showcase {
      text-align: center;
      border-left:1px solid #F0F0F0;
      width: 33.33%;
      padding: 4rem 0 4rem 0;
}

.carousel-item {
      height:400px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
    
.footer {
      padding: 0 5% 10rem 5%;
}

/* Tabs CSS */ 
    .tabs{
      width:100%;
      height:auto;
      margin:0 auto;
  }
  
  /* tab list item */
  .tabs .tabs-list{
      list-style:none;
      margin:0px;
      padding:0px;
      display: flex;
      justify-content: space-around;
  }

  .tabs .tabs-list li{
      text-transform: uppercase;
      width:100%;
      float:left;
      margin:0px;
      color: #515254;
      padding-bottom: 1.2rem;
      text-align: center;
  }

  .tabs .tabs-list li:hover{
      cursor:pointer;
  }

  .tabs .tabs-list li a{
      text-decoration: none;
      color: #515254;
  }
  
  /* Tab content section */
  .tabs .tab{
      padding-top: 3rem;
      border-top: 1px solid #7e7e7e;
      display:none;
      min-height:250px;
      height:auto;
      border-radius:3px;
      color:darkslategray;
      clear:both;
  }

  .tabs .tab h3{
      letter-spacing:1px;
      font-weight:normal;
      padding:5px;
  }

  .tabs .tab p{
      line-height:20px;
      letter-spacing: 1px;
  }
  
  /* When active state */
  .active{
      display:block !important;
  }
  
  .tabs .tabs-list li.active{
      color:black !important;
      border-bottom: 1px solid #7e7e7e;
  }

  .active a{
      color:black !important;
  }
  
  /* media query */
  @media screen and (max-width:360px){
      .tabs{
          margin:0;
          width:96%;
      }
      .tabs .tabs-list li{
          width:80px;
      }
  }   

/**************/
/**************/
/* Css Button */ 
/**************/
/**************/

  .example_c {
      color: #ffffff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2C2E2F;
      padding: 20px;
      border: 1px solid #757575;
      display: inline-block;
      transition: all 0.4s ease 0s;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
  }

  .example_c:hover {
      color: #ffffff !important;
      background: #f6b93b;
      border-color: #f6b93b !important;
      transition: all 0.4s ease 0s;
      text-decoration: none;
  }

i {
      border: solid rgb(255, 255, 255);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
}
    
.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top:-1px;
}