@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/utilities";
@import "base/typography";
@import "pages/home";
@import "components/button";
@import "components/tabs";
@import "components/showcase";
@import "layout/header";
@import "layout/footer";



.flex-container{
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
}

.flex-container .column{
      background:$color-primary;
      flex: 1;    
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
  }

.flex-container .column.bg-alt{
      background:$color-secondary;
}

.slider-box{
      background:$color-secondary !important;
      max-width:50%;
}

.flex-container-wrap {
      flex-wrap: wrap;
      justify-content: space-between;

      @include respond(tab-port){
            @include flexWay(column);
      }
}

/* Home-hero */
.hero-watch {
    max-height:550rem;
    margin-left: -15%;
    //padding: 20% 0 5% 0;
    padding: 10rem 0 2.5rem 0;
}

.hero-section-title {
     position: absolute;
     margin-top: 5rem;
     left:50%;
      // top:15%;
      // left:50%;
      transform: translate(-50%, -50%);
}

#carouselExampleIndicators {
    width:25rem;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-left:25rem;
}

.carousel-item {
      height:400px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
    
