@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
@import "abstracts/variables";
@import "base/base";
@import "base/utilities";
@import "base/typography";

.flex-container{
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
}

.flex-container .column{
      background:$color-primary;
      flex: 1;    
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
  }

.flex-container .column.bg-alt{
      background:$color-secondary;
}

.flex-container .column.bg-alt1{
      background:$color-secondary;
      height: 600px;
}

.flex-container-wrap {
      flex-wrap: wrap;
      justify-content: space-between;
}

.slider-box {
      position:absolute;
}

#carouselExampleIndicators {
      position: absolute;
      left: 30vw;
      top:7rem;
      width:400px;
}

.vertical-center {
      display: flex;
      align-items: center;
      justify-content:space-around;
}

.logo-box {
margin:2rem 0 0 2rem;
}

.border-red {
      border:1px solid red;
}

/* Header */
header {
      position: absolute;
      left: 0;
      right: 0;
}

/* Home-hero */
.home-hero {
      border-bottom:1px solid $color-border-grey;
}

.hero-watch {
    
    max-height: 90%;
    margin-left: -15%;
    padding: 20% 0 5% 0;
}

.watch-description {
     text-align: center;
}

.posts {
      border-top:1px solid $color-border-grey;
      margin-bottom: 5rem;
}

/* Html for button */ 
.showcase {
      text-align: center;
      border-left:1px solid $color-border-grey;
      padding: 4rem 0 4rem 0;
      min-width: 33%;
      position: relative;     
}

.sale-box {
      position: absolute;
      left: 0;
      padding:10px 3px 10px 3px;
      display: inline-block;
      letter-spacing: 2px;
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      background:$color-black;
      color:$color-sale-box-white;
      text-transform: uppercase;
      font-size: 12px;
      
}

.carousel-item {
      height:400px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
    
.footer {
      padding: 0 5% 10rem 5%;
}

/* Tabs CSS */ 
    .tabs{
      width:100%;
      height:auto;
      margin:0 auto;
  }
  
  /* tab list item */
  .tabs .tabs-list{
      list-style:none;
      margin:0px;
      padding:0px;
      display: flex;
      justify-content: space-around;
  }

  .tabs .tabs-list li{
      text-transform: uppercase;
      width:100%;
      float:left;
      margin:0px;
      // color: #515254;
      padding-bottom: 1.2rem;
      text-align: center;
  }

  .tabs .tabs-list li:hover{
      cursor:pointer;
  }

  .tabs .tabs-list li a{
      text-decoration: none;
      color:$tabs-title-grey;
  }
  
  /* Tab content section */
  .tabs .tab{
      padding-top: 3rem;
      border-top: 1px solid $tabs-border-grey;
      display:none;
      min-height:250px;
      height:auto;
      border-radius:3px;
      color:$tabs-slate-grey;
      clear:both;
  }

  .tabs .tab h3{
      letter-spacing:1px;
      font-weight:normal;
      padding:5px;
  }

  .tabs .tab p{
      line-height:20px;
      letter-spacing: 1px;
  }
  
  /* When active state */
  .active{
      display:block !important;
  }
  
  .tabs .tabs-list li.active{
      color:$color-pure-black !important;
      border-bottom: 1px solid $tabs-border-grey;
  }

  .active a{
      color:$color-pure-black !important;
  }
  
  /* media query */
  @media screen and (max-width:360px){
      .tabs{
          margin:0;
          width:96%;
      }
      .tabs .tabs-list li{
          width:80px;
      }
  }   

/**************/
/**************/
/* Css Button */ 
/**************/
/**************/

  .example_c {
      color:$color-primary !important;
      text-transform: uppercase;
      text-decoration: none;
      background:$color-black;
      padding: 20px;
      border: 1px solid $button-grey;
      display: inline-block;
      transition: all 0.4s ease 0s;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
  }

  .example_c:hover {
      cursor: pointer;
      text-decoration: none;
  }

  .example_d {
      color: $color-black !important;
      text-decoration: none;
      padding: 15px 30px 15px 30px;
      border: 1px solid rgba(151, 151, 151, 0.5);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box;
      display: inline-block;
  }

  .example_d:hover {
      cursor: pointer;
      text-decoration: none;
  }

i {
      border: solid $color-primary;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
}
    
.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top:-1px;
}