@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
      margin: 0;
      font-family: 'Raleway', sans-serif;
}

* {
      box-sizing: border-box;
}

img {
      max-width:100%;
      height:auto;
}

.container {
      width: 95%;
      margin: 0 auto;
}

.flex-container{
      // width: 80%;
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
}

.flex-container .column{
      background: #ffffff;
      flex: 1;    
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
  }

.flex-container .column.bg-alt{
      background:#FCE4B6;
}

.flex-container .column.bg-alt1{
      background:#FCE4B6;
      height: 600px;
}

.slider-box {
      
      position:absolute;
}

#carouselExampleIndicators {
      position: absolute;
      left: 40rem;
      top:7rem;
      width:400px;
}

.vertical-center {
      display: flex;
      align-items: center;
      justify-content:space-around;
}

/* Header */
header {
      position: absolute;
      left: 0;
      right: 0;
}

/* Home-hero */
.home-hero {
      border-bottom:1px solid #F0F0F0;
}

.hero-watch {
      height:85%;
      margin-left: -10%;
}

.watch-description {
      border:2px solid red;
}

/* title */
.title {
      font-size:2.5 rem;
}      

/* Html for button */ 
.showcase {
      text-align: center;
      border-left:1px solid #F0F0F0;
      width: 33.33%;
      padding: 4rem 0 4rem 0;
}

.carousel-item {
      height:400px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    