@import "../abstracts/variables";

.custombutton {
      text-decoration: none;
      display: inline-block;
      font-family:$primary-font;
      font-size:$font-size-extra-small;
      letter-spacing: 1px;

      &--black {
            padding:1.25rem;
            text-transform: uppercase;
            color:$color-primary;
            background:$color-black;
            border: 1px solid $button-grey;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
      }

      &--white {
            color: $color-black !important;
            padding: 0.93rem 1.87rem 0.93rem 1.87rem;
            border: 1px solid rgba(151, 151, 151, 0.5);
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box;
            display: inline-block;
      }

      &:hover {
            cursor: pointer;
            text-decoration: none;
      }
}

// Right Arrow css
i {
      border: solid $color-primary;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 0.18rem;
}
    
.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin-top:-1px;
}